.testBoxContainer {
  background-color: purple;
  display: flex;
}
.testBox{
  height: 100px;
  width: 100px;
  background-color: green;
}
.testBox2{
  height: 100px;
  width: 100px;
  background-color: pink;

}
.statsContainer {
  background-color: blue;
  height: 100px;
  width: 800px;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
}

.statsDivs {
  height: 90%;
  width: 30%;
  border: 1px solid black;
  margin: auto;
}

.redWins {
  background-color: red;
}
.redWinsNumber,
.redWinsText {
  text-align: center;
}

.yellowWinsNumber,
.yellowWinsText {
  text-align: center;
}
.yellowWins {
  background-color: yellow;
}

.playerTurn {
  background-color: orange;
}
.playerTurnText {
  text-align: center;
}
