body {
  margin: 0;
}
.main {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.stats {
  font-size: 1.3rem;
  text-align: center;
  background-color: rgb(47, 73, 219);
  height: 20%;
  width: 100%;
  display: flex;
}
.mainStats {
  width: 90%;
  display: flex;
  margin: 0 auto;
}
.game {
  height: 80%;
  width: 100%;
  display: flex;
  background-color: rgb(9, 112, 197);
}
.columnContainer {
  width: 90%;
  height: 90%;
  display: flex;
  margin: 0 auto;
}
.statsBox,
.playerTurn  {
  width: 30%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.redStat {
  width: 100%;
  height: 45%;
  border: 2px solid black;
  background-color: red;
  color: black;
}
.yellowStat {
  width: 100%;
  height: 45%;
  border: 2px solid black;
  background-color: yellow;
  color: black;
}

div.statsBox.red {
  background-color: transparent;
  overflow: hidden;
}

div.statsBox.yellow {
  background-color: transparent;
}
.col0,
.col1,
.col2,
.col3,
.col4,
.col5,
.col6 {
height: 80%;
width: 14.5%;
margin: auto;
display: flex;
flex-direction: column;;
}
.col0:hover,
.col1:hover,
.col2:hover,
.col3:hover,
.col4:hover,
.col5:hover,
.col6:hover {
  transform: perspective(20px) translateZ(1px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
  -webkit-font-smoothing: antialiased;
}
.row0,
.row1,
.row2,
.row3,
.row4,
.row5 {
  height: 13.5%;
  width: 91%;
  margin: 3px auto;
  background-image: url('assets/blueDotTransparent.jpg');
  background-position: center;
  background-size: cover;
}
.yellow {
  background-image: url('assets/yellowDot.jpg');
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  animation: fadingIn;
  animation-duration: 800ms;
}
.red {
  background-image: url('assets/redDot.jpg');
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  animation: fadingIn;
  animation-duration: 800ms;
}
.hover {
  height: 13.5%;
  width: 91%;
  margin: 0 auto;
}
.redHover{
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
  background-image:url('assets/redHover.jpg');
}
.yellowHover{
  background-image:url('assets/yellowHover.jpg');
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
}

.modal {
  display: none;
  background-color: skyblue;
  height: 20%;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  text-align: center;
}
.next-round{
  display: block;
  margin: auto;
}

#playerOne {
  background-color: red;
}

#playerTwo {
  background-color: yellow;
}

.hidden {
  display: none;
}

@keyframes fadingIn {
  from { opacity: 0.0; }
  to { opacity: 1.0; }
}
.chooseTheme {
  position: absolute;
  background-color: blue;
  color: red;
  text-shadow: 1px 1px yellow;
  width: 100px;
  height: 200px;
  left: 10%;
  top: 30%;
  text-align: center;
  justify-content: center;
}

.fall {
    animation-name: fall-animation;
    animation-duration: 500ms;
}

@keyframes fall-animation {
    from {
        transform-origin: top;
        transform: translateY(-300px);
    }
    to {
        transform: translateY(0);
    }
}

.fall1 {
    animation-name: fall-animation1;
    animation-duration: 500ms;
}

@keyframes fall-animation1 {
    from {
        transform-origin: top;
        transform: translateY(-250px);
    }
    to {
        transform: translateY(0);
    }
}

.fall2 {
    animation-name: fall-animation2;
    animation-duration: 500ms;
}

@keyframes fall-animation2 {
    from {
        transform-origin: top;
        transform: translateY(-200px);
    }
    to {
        transform: translateY(0);
    }
}

.fall3 {
    animation-name: fall-animation3;
    animation-duration: 500ms;
}

@keyframes fall-animation3 {
    from {
        transform-origin: top;
        transform: translateY(-150px);
    }
    to {
        transform: translateY(0);
    }
}

.fall4 {
    animation-name: fall-animation4;
    animation-duration: 500ms;
}

@keyframes fall-animation4 {
    from {
        transform-origin: top;
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}
.fall5 {
    animation-name: fall-animation5;
    animation-duration: 500ms;
}

@keyframes fall-animation5 {
    from {
        transform-origin: top;
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}
.fall6 {
    animation-name: fall-animation6;
    animation-duration: 500ms;
}

@keyframes fall-animation6 {
    from {
        transform-origin: top;
        transform: translateY(-25px);
    }
    to {
        transform: translateY(0);
    }
}
