body {
  margin: 0;
}
.main {
  height: 90vh;
  width: 55vw;
}
.stats {
  font-size: 1.3rem;
  text-align: center;
  background-color: rgb(47, 73, 219);
  height: 20%;
  display: flex;
}
.mainStats {
  width: 90%;
  display: flex;
  margin: 0 auto;
}

.statsBox,
.playerTurn  {
  width: 30%;
  height: 100%;
  /* background-color: rgb(91, 91, 139); */
  margin: auto;
  /* color: orange; */
  /* text-shadow: 1px 1px brown; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.redStat {
  width: 100%;
  height: 45%;
  border: 2px solid black;
  background-color: red;
  color: black;
}
.yellowStat {
  width: 100%;
  height: 45%;
  border: 2px solid black;
  background-color: yellow;
  color: black;
}

div.statsBox.red {
  background-color: transparent;
  overflow: hidden;
}

div.statsBox.yellow {
  background-color: transparent;
}

.game {
  height: 80%;
  display: flex;
  background-color: rgb(9, 112, 197);
}
.columnContainer {
  width: 90%;
  display: flex;
  margin: 0 auto;
}
.col0,
.col1,
.col2,
.col3,
.col4,
.col5,
.col6 {
height: 80%;
width: 14.5%;
margin: auto;
}
.col0:hover,
.col1:hover,
.col2:hover,
.col3:hover,
.col4:hover,
.col5:hover,
.col6:hover {
  transform: perspective(20px) translateZ(1px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
  -webkit-font-smoothing: antialiased;
}
.row0,
.row1,
.row2,
.row3,
.row4,
.row5 {
  height: 13.5%;
  width: 91%;
  margin: 3px auto;
  background-image: url('assets/blueDotTransparent.jpg');
  background-position: center;
  background-size: cover;
}
.yellow {
  background-image: url('assets/yellowDot.jpg');
  background-position: center;
  background-size: cover;
  animation: fadingIn;
  animation-duration: 800ms;
}
.red {
  background-image: url('assets/redDot.jpg');
  background-position: center;
  background-size: cover;
  animation: fadingIn;
  animation-duration: 800ms;
}
.hover {
  height: 13.5%;
  width: 91%;
  margin: 0 auto;
}
.redHover{
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
  background-image:url('assets/redHover.jpg');
}
.yellowHover{
  background-image:url('assets/yellowHover.jpg');
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
}

.modal {
  display: none;
  background-color: skyblue;
  height: 40vh;
  width: 40vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  background-image: url(../c1119_Hackathon/assets/reset.gif);
}

#playerOne {
  background-color: red;
}

#playerTwo {
  background-color: yellow;
}

.hidden {
  display: none;
}

@keyframes fadingIn {
  from { opacity: 0.0; }
  to { opacity: 1.0; }
}
.chooseTheme {
  position: absolute;
  background-color: blue;
  color: red;
  text-shadow: 1px 1px yellow;
  width: 100px;
  height: 200px;
  left: 10%;
  top: 30%;
  text-align: center;
  justify-content: center;
}
