body {
  margin: 0;
}
.main {
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.stats {
  font-size: 1.3rem;
  text-align: center;
  background-color: rgb(47, 73, 219);
  height: 20%;
  display: flex;
}
.mainStats {
  width: 50%;
  display: flex;
  margin: 0 auto;
}
.statsBox,
.playerTurn  {
  width: 30%;
  height: 100%;
  background-color: rgb(91, 91, 139);
  margin: auto;
  color: orange;
  text-shadow: 1px 1px brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stat {
  width: 100%;
  height: 45%;
  border: 1px solid red;
}
.game {
  height: 80%;
  display: flex;
  background-color: rgb(9, 112, 197);
  z-index: -2;
}
.columnContainer {
  width: 50%;
  display: flex;
  margin: 0 auto;
}
.col0,
.col1,
.col2,
.col3,
.col4,
.col5,
.col6 {
height: 80%;
width: 14.5%;
/* background-color: rgb(87, 61, 230); */
margin: auto;
display: flex;
flex-direction: column;
position: relative;
z-index: -1;
}
.hover {
  height: 13.5;
  width: 91%;
  margin: 10px auto;
  background-color: gainsboro;
}
.row0,
.row1,
.row2,
.row3,
.row4,
.row5 {
  height: 13.5%;
  width: 91%;
  margin: 10px auto;
  background-image: url('assets/blueDotTransparent.jpg');
  background-position: center;
  background-size: cover;
  z-index: 2;
}
.yellow {
  background-image: url('assets/yellowDot.jpg');
  background-position: center;
  background-size: cover;
  z-index: 0;
}
.red {
  background-image: url('assets/redDot.jpg');
  background-position: center;
  background-size: cover;
  z-index: 0;
}
